target
stacktrace.log
web-app/WEB-INF/classes
.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.groovy.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.grails.ide.eclipse.core.prefs

grails-app/.DS_Store

.classpath

.project

.project

.classpath

.project

.classpath
